{{extend 'plantilla.html'}}
{{block head}}
    <style>
        .dropdown-item:focus, .dropdown-item:hover{
            background-color: #c5d6e6;
        }
        .create-button-box{
            width: 100%;
            display: flex;
            flex-direction: row-reverse;
        }
        .create-button{
            font-family: sans-serif;
            font-size: 16px;
        }
    </style>
{{end}}

        <h3 id="cabeza" class="encabezado">Áreas</h3>
        <div class="create-button-box">
            {{=A(I(_class='fa fa-plus'), ' Nueva área',
            _class='btn btn-success text-white mb-2 create-button',
            _target='_blank',
            _href=URL("area", "area_form"),
            cid="content-area",
            data={'toggle':'modal', 'target':'#area_modal'})}}
        </div>


<table id="area_table" class="display">
        <thead>
            <tr>
                <!--<th>Id</th>-->
                <th>Nombre</th>
                <th>Tipo de área</th>
                <th>Descripción</th>
                <th>Opciones</th>
            </tr>
        </thead>
</table>

{{block body_end}}
    <div id="area_modal" class="modal fade" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-sm" id="content-area">
        </div>
    </div>
{{end body_end}}

<script>
{{block datatable}}

    const datatableOptions = {
            //Adding server-side processing
            serverSide: true,
            processing: true,
            ajax: function ( data, callback, settings ) {
                axios.get('{{=URL('area', 'areas_api')}}',{
                    params: {
                        start: data.start,
                        limit: data.length,
                        search: data.search.value,
                        order_column: data.columns[data.order[0].column].data,
                        order_dir: data.order[0].dir
                    }
                }).then(res=>{
                    callback({
                       recordsTotal: res.data.length,
                       recordsFiltered: res.data.length,
                       data: res.data.areas
                    });
                })
                .catch(error => {
                    showMyNotification('error', "Hubo errores en el servidor");
                })
            },
            columns: [
                // { data: "id" },
                { data: "name", defaultContent: "-"},
                { data: "id_area_type", defaultContent: "-" },
                { data: "description", defaultContent: "-"},
                {
                  data: null,
                  "render": function ( data, type, row, meta ) {

                        let stringAnchorTag = '{{=A(I(_class='fa fa-pencil'), _title="Editar", _class='botones-iconos btn btn-info btn-rounded btn-icon',_target='_blank',
                        _style="color:white; background-color: #05e20c;", _href=URL("area", "area_form"), cid="content-area", data={'toggle':'modal', 'target':'#area_modal'})}}'; //Getting the string representation of the edit button

                        let editButton = appendDataToAnchorTag(stringAnchorTag, '{{=URL("area", "area_form")}}', row.id);

                          return `
                            <a title="Ubicación" class="botones-iconos btn btn-info btn-rounded btn-icon" style="padding: 9px 14px !important;" href={{=URL('map','ubicacion_area')}}/${row.id}>
                                <i class="fa fa-map-marker"></i>
                            </a>
                            ${editButton}
                            <a title="Eliminar" class="botones-iconos btn btn-info btn-rounded btn-icon" style="background-color: #f84a4a;" href="#" onclick="eliminar(${row.id})">
                                <i class="fa fa-trash"></i>
                            </a>
                            <div class="dropdown show" style="display: inline;">
                              <a title="Información" class="botones-iconos btn btn-info btn-rounded btn-icon dropdown-toggle" style="background-color: #0062cc;" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-info"></i>
                              </a>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="font-size: .5rem;">
                                <a class="dropdown-item" href={{=URL('pluviometer','pluv_by_area')}}/${row.id} >Pluviometros</a>
                                <a class="dropdown-item" href={{=URL('precipitation_concentration_index','to_show_ci_for_selected_area')}}/${row.id} >Índice de concentracion</a>
                                <a class="dropdown-item" href={{=URL('precipitation_concentration_index','to_show_ci_for_selected_area_by_month')}}/${row.id} >Índice de concentracion por mes</a>
                              </div>
                            </div>
                          `;
                        }
                    }
                ],
        };

    let my_table = data_table.DataTable(datatableOptions);

    function updateTable(){
        my_table.destroy(); //Destroiyng datatable for refetch
         my_table = data_table.DataTable(datatableOptions); //Building datatable again with updated data
    }

    function eliminar(id) {
        swal({
            title: "¿Está seguro de eliminar?",
            text: "El area será eliminada completamente del sistema.",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Eliminar",
            cancelButtonText: "Cancelar",
            closeOnConfirm: true,
            closeOnCancel: true
        },
            function (isConfirm) {
                if (isConfirm) {
                    let url = "{{=URL('area','remove_area')}}";
                    location.href = url + "/" + id;
                }
            });
    }

    //Events listeners to close modal
    // $('#area_modal .xButton').off().on('click', () => {
    //         $("#area_modal").modal('toggle');
    // })

    // Event listener on accept button modal
    // $('#area_modal #acceptButton').off().on('click', () => {
    //         let name = $('#area_modal #name').val().trim();
    //
    //         // Validations
    //         if (name.length === 0) {
    //             // if name input is empty
    //             showMyNotification('error', "Existen errores en el formulario");
    //             showErrorDiv($("#name-error-box"), "Este campo no puede estar vacío")
    //         } else {
    //             $("#area_modal").modal('toggle');
    //
    //             let description = $("#area_modal #description").val().trim();
    //             let area_type_id = $("#area_modal #area_type_select option:selected").val();
    //
    //             $(".loading-spinner").show(); // Show loading
    //
    //             // request to edit_area_api
    //             axios.post('{{=URL('area', 'edit_area_api')}}', {
    //                 name: name,
    //                 description: description,
    //                 area_type_id: area_type_id,
    //                 edit_type: 'information'
    //             })
    //             .then(response => {
    //                 showMyNotification('success', "El área se ha creado correctamente");
    //                 $(".loading-spinner").hide(); // Hide loading
    //                 table.destroy(); //Destroiyng datatable for refetch
    //                 table = data_table.DataTable(); //Building datatable again with updated data
    //             })
    //             .catch(error => {
    //                 showMyNotification('error', "Hubo errores en el servidor");
    //                 $(".loading-spinner").hide(); // Hide loading
    //             });
    //         }
    //
    // })

    function editar(){
        //Function to open edit pluviometer modal and prefill the form
        $("#area_modal").modal({backdrop: "static"});// open modal
        // console.log()
        //Prepopulate form with pluv information
        // $('#area_modal #name').val(row.name);
        // $('#area_modal #station_name').val(row.station_name);
        // $('#area_modal #msnm').val(row.msnm);
        // $('#area_modal #id_pluviometer_type').val(row.id_pluviometer_type);
    }
{{end datatable}}

</script>



