{{extend 'plantilla.html'}}

       {{block head}}
        <title>Crear área</title>
		<link rel="stylesheet" href="{{=URL('static', 'leaflet/leaflet.css')}}" />
		<link rel="stylesheet" href="{{=URL('static', 'leaflet_geoman/leaflet-geoman.css')}}" />

        <script type="text/javascript" src="{{=URL('static', 'leaflet/leaflet.js')}}"></script>
        <script type="text/javascript" src="{{=URL('static', 'leaflet_geoman/leaflet-geoman.min.js')}}"></script>
        <style>
            #map_id{
                height: 500px;
                z-index: 0;
            }
            #area_modal input,
            #area_modal textarea{
                width: 100%;
            }
            #name-error-box.visible{
                transition: opacity 2s;
                opacity: 1;
                height: auto;
            }
            select{
                padding-bottom: 10px;
                padding-top: 8px;
            }
            #area_modal label{
                font-size: 15px;
                font-family: sans-serif;
                font-weight: 500;
            }
            #myTab{
                margin: 0;
            }
            #area-select{
                padding: 0 0.7rem !important;
            }
            .no-link{
                color: black;
            }
        </style>
{{end head}}


    <div id="map_id"></div>

{{block body_end}}
    <div id="area_modal" class="modal fade">
        <div class="modal-dialog modal-sm" id="content-area">
            {{=LOAD('area', 'area_form_map.load', ajax=True, target='content-area')}}
        </div>
    </div>
{{end body_end}}

{{block page_js}}

    <script>

    let map = L.map('map_id').setView(
           [ 21.941415395551573,-78.66101966354675], 9);
    L.tileLayer('{{=URL('static','CubaOSM/{z}/{x}/{y}.png',url_encode=False)}}',{ maxZoom: 12 }).addTo(map);

    map.pm.setLang('es', null, 'en');//Setting to spanish language

    map.pm.addControls({
        position: 'topleft',
        drawCircle: false,
        drawMarker: false,
        drawCircleMarker: false,
        drawPolyline: false,
        drawRectangle: false,
        cutPolygon: false,
        rotateMode: false,
    });

    let currentAreaPosition = {}; // Global variable to save current marker position
    let outerSaveAreaPosition = null; // Global variable to save savePluviometerPosition function (wich is has to be declared inside the map event handler)

    //Event handler for creating an area layer
    map.on('pm:create', (e) => {
        //Event listener trigered at the end of create area event
        $("#area_modal").modal({backdrop: "static"});// open modal
        let restorePosition = e.layer._latlngs;//original position when the area is created

        $('#selectAcceptButton').off().on('click', () => {
                // Save area position of an already created area in database
                $("#area_modal").modal('toggle');
                let points = e.layer._latlngs;

                let area_id = $("#area_modal #area-select option:selected").val()

                $(".loading-spinner").show(); // Show loading

                // request to save_area_position_api
                axios.post('{{=URL('area', 'save_area_position_api')}}', {
                    area_id: area_id,
                    points: points,
                })
                .then(response => {
                    e.layer['myDatabaseId'] = response.data.areaId;
                    showMyNotification('success', "Operación realizada exitosamente");
                    $(".loading-spinner").hide(); // Hide loading
                })
                .catch(error => {
                    showMyNotification('error', "Hubo errores en el servidor");
                    $(".loading-spinner").hide(); // Hide loading
                });
        })

        //Event handler for editing an area layer
        e.layer.on('pm:edit', function(layer_event){
                let points = e.layer._latlngs;
                restorePosition = points; //saved in outer variable the new points of the area

                $(".loading-spinner").show(); // Show loading

                // request to save_area_position_api API
                axios.post('{{=URL('area', 'edit_area_position_api')}}', {
                        area_id: e.layer.myDatabaseId,
                        points: points,
                    })
                    .then(response => {
                        showMyNotification('success', "Operación realizada exitosamente");
                        $(".loading-spinner").hide(); // Hide loading
                    })
                    .catch(error => {
                        showMyNotification('error', "Hubo errores en el servidor");
                        $(".loading-spinner").hide(); // Hide loading
                    });
            })
              .on('pm:remove', () => confirmationDelete("El área será eliminada completamente del sistema", function (isConfirm) {//Event handler for removing an area layer
                  if(isConfirm){
                    $(".loading-spinner").show();

                    // request to remove_area API
                    axios.post('{{=URL('area', 'remove_area_api')}}', {
                            area_id: e.layer.myDatabaseId,
                        })
                        .then(response => {
                            showMyNotification('success', "Operación realizada exitosamente");
                            $(".loading-spinner").hide();
                        })
                        .catch(error => {
                            showMyNotification('error', "Hubo errores en el servidor");
                            $(".loading-spinner").hide(); // Hide loading
                        });
                  } else{
                    e.layer.addTo(map); //Adding layer to map again after incorrect elimination
                    e.layer.setLatLngs(restorePosition); //Restore layer old position
                  }
          }))

        outerSaveAreaPosition = function saveAreaPosition(area_id){
                $("#area_modal").modal('toggle');
                let points = restorePosition;

                $(".loading-spinner").show(); // Show loading

                // request to save_pluv_position_api
                axios.post('{{=URL('area', 'save_area_position_api')}}', {
                    area_id: area_id,
                    points: points,
                })
                .then(response => {
                    e.layer['myDatabaseId'] = area_id;
                    showMyNotification('success', "Operación realizada exitosamente");
                    $(".loading-spinner").hide(); // Hide loading
                })
                .catch(error => {
                    showMyNotification('error', "Hubo errores en el servidor");
                    $(".loading-spinner").hide(); // Hide loading
                });
            }

        $('#area_modal .xButton').off().on('click', () => {
                e.layer.remove();
        })

    });
    </script>
{{end page_js}}