{{extend 'plantilla.html'}}
{{block head}}
        <title>Editar área</title>
		<link rel="stylesheet" href="{{=URL('static', 'leaflet/leaflet.css')}}" />
        <link rel="stylesheet" href="{{=URL('static', 'leaflet_geoman/leaflet-geoman.css')}}" />
        <style>
            #map_id{
                height: 100vh;
                z-index: 0;
            }
        </style>
{{end head}}

{{block page_js}}
    <script type="text/javascript" src="{{=URL('static', 'leaflet/leaflet.js')}}"></script>
    <script type="text/javascript" src="{{=URL('static', 'leaflet_geoman/leaflet-geoman.min.js')}}"></script>
    <script>

    let mymap = L.map('map_id').setView(
           [ 21.941415395551573,-78.66101966354675], 9);
    L.tileLayer('{{=URL('static','CubaOSM/{z}/{x}/{y}.png',url_encode=False)}}',{ maxZoom: 12 }).addTo(mymap);

    mymap.pm.setLang('es', null, 'en');//Setting to spanish language

        mymap.pm.addControls({
          position: 'topleft',
            drawPolygon: false,
            drawCircle: false,
            drawMarker: false,
            drawCircleMarker: false,
            drawPolyline: false,
            drawRectangle: false,
            cutPolygon: false,
            editMode: false,
            rotateMode: false,
        });

    let overlayMaps = {};
    let layerGroup;
    let area_layer;
    let restorePosition;
    let areaEvent;

        {{for area_type in areas:}}//Loop for all the area types
        //areas has the form of {'area_type':[{'area':[id_area, [area_borders]}, areaType_color, areaType_description],}
            layerGroup = []
            {{for area in areas[area_type][0]:}}
                    area_layer = L.polygon({{=areas[area_type][0][area][1]}},
                            {color: '{{=areas[area_type][1]}}'}).on('mouseover', e => {
                           let selected_area = e.target;
                           axios.get('{{=URL('map', 'area_mouseover')}}',{
                            params: {
                                id: {{=areas[area_type][0][area][0]}},// Area_id
                            }})
                            .then(response => {
                                selected_area.bindPopup(`<b>Nombre</b>: ${response.data.area.name} ${response.data.area.sub_name ? ('('+response.data.area.sub_name+')') : ''}<br>
                                                           <b>Descripción</b>: ${response.data.area.description ? response.data.area.description : ''}`);
                                selected_area.openPopup();
                            })
                            .catch(error => {
                                showMyNotification('error', "Hubo errores en el servidor");
                            })
                    })
                    .on('pm:edit', function(e) {
                        let points = e.target._latlngs;
                        restorePosition = points;

                        $(".loading-spinner").show(); // Show loading

                        axios.post('{{=URL('area', 'edit_area_position_api')}}',{
                            area_id: {{=areas[area_type][0][area][0]}},
                            points: points,
                        })
                        .then(response => {
                            showMyNotification('success', "Operación realizada exitosamente");
                            $(".loading-spinner").hide(); // Hide loading
                        })
                        .catch(error => {
                            showMyNotification('error', "Hubo errores en el servidor");
                            $(".loading-spinner").hide(); // Hide loading
                        });
                    }).on('pm:remove', (e) =>{
                         return confirmationDelete("El área será eliminada completamente del sistema", function (isConfirm) {
                        // request to remove_area API
                        // console.log(e)
                        if(isConfirm){
                            $(".loading-spinner").show(); // Show loading

                            axios.post('{{=URL('area', 'remove_area_api')}}', {
                                    area_id: {{=areas[area_type][0][area][0]}},
                                })
                            .then(response => {
                                showMyNotification('success', "Operación realizada exitosamente");
                                $(".loading-spinner").hide(); // Hide loading
                            })
                            .catch(error => {
                                showMyNotification('error', "Hubo errores en el servidor");
                                $(".loading-spinner").hide(); // Hide loading
                            });
                        } else{
                            mymap.addLayer(e.layer); //Adding layer to map again after incorrect elimination
                          }
                    })})

                    area_layer.setStyle({pmIgnore: false});
                    layerGroup.push(area_layer);
            {{pass}}
            overlayMaps["{{=area_type}}"] = L.layerGroup(layerGroup);
        {{pass}}

        overlayMaps["Municipios"].addTo(mymap);
        overlayMaps["Cuencas"].addTo(mymap);
        overlayMaps["Provincias"].addTo(mymap);
        overlayMaps["Sector Hidrogeológico"].addTo(mymap);
        let control = L.control.layers(null, overlayMaps).addTo(mymap);

		</script>
{{end page_js}}