{{extend 'plantilla.html'}}

       {{block head}}
		<link rel="stylesheet" href="{{=URL('static', 'leaflet/leaflet.css')}}" />
		<link rel="stylesheet" href="{{=URL('static', 'leaflet_geoman/leaflet-geoman.css')}}" />

        <script type="text/javascript" src="{{=URL('static', 'leaflet/leaflet.js')}}"></script>
        <script type="text/javascript" src="{{=URL('static', 'leaflet_geoman/leaflet-geoman.min.js')}}"></script>
        <style>
            #map_id{
                height: 500px;
                z-index: 0;
            }
            #create_pluv_modal input{
                width: 100%;
            }
            .error-box{
                color: red;
                font-size: 14px;
                transition: opacity 2s;
                opacity: 0;
                height: 0;
                overflow: hidden;
            }
            .error-box.visible{
                transition: opacity 2s;
                 opacity: 1;
                height: auto;
            }

            .xButton{
                font-size: 18px;
            }

            #no_edit_info_modal .modal-body p{
                font-size: 16px;
            }
            #no_edit_info_modal .modal-body button{
                position: relative;
                left: 80%;
            }
            #no_edit_info_modal .modal-dialog{
                position: relative;
                top: 120px;
            }
            #no_edit_info_modal .modal-content{
                border-radius: 20px;
            }
            select{
                padding-bottom: 10px;
                padding-top: 8px;
            }
            #create_pluv_modal label{
                font-size: 15px;
                font-family: sans-serif;
                font-weight: 500;
            }
        </style>
{{end head}}


{{block body_end}}
        <div id="create_pluv_modal" class="modal fade">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content" style="width: 400px">
                                <div class="modal-header">
                                    <h5 class="modal-title">Crear pluviómetro</h5>
                                    <button type="button" class="close xButton"><span>&times;</span></button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="name">Identificador:</label>
                                        <input type="text" class="form-control" id="name">
                                        <div class="error-box" id="name-error-box"></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="station_name">Nombre de la estación:</label>
                                        <input type="text" class="form-control" id="station_name">
                                    </div>
                                    <div class="form-group">
                                        <label for="msnm">Altura sobre el nivel del mar:</label>
                                        <input type="text" class="form-control" id="msnm">
                                        <div class="error-box" id="msnm-error-box"></div>
                                    </div>
                                     <label for="pluv_type_select">Tipo de pluviómetro:</label>
                                    <select class="form-control" id="pluv_type_select" style="padding-bottom: 10px;padding-top: 8px;">
                                        {{for pluv_type in pluv_types:}}
                                            <option value={{=pluv_type.id}}>{{=pluv_type.name}}</option>
                                        {{pass}}
                                    </select>
                                </div>
                                <div class="modal-footer">
                                    <button id="closeButton" type="button" class="btn btn-danger">Cerrar</button>
                                    <button id="acceptButton" type="button" class="btn btn-success">Aceptar</button>
                                </div>
                            </div>
                        </div>
</div>

<div id="no_edit_info_modal" class="modal" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <p>Todavía no puedes modificar este elemento, espera unos segundos.</p>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Aceptar</button>
              </div>
            </div>
          </div>
</div>
{{end body_end}}

{{block page_js}}

    <script>

    let map = L.map('map_id').setView(
           [ 21.941415395551573,-78.66101966354675], 10);
    L.tileLayer('{{=URL('static','CubaOSM/{z}/{x}/{y}.png',url_encode=False)}}',{ maxZoom: 12 }).addTo(map);

    map.pm.setLang('es', null, 'en');//Setting to spanish language

    map.pm.addControls({
        position: 'topleft',
        drawCircle: false,
        drawPolygon: false,
        drawCircleMarker: false,
        drawPolyline: false,
        drawRectangle: false,
        cutPolygon: false,
        rotateMode: false,
        editMode: false,
    });

    // let overlayMaps = {};
    // let layerGroup;
    // let area_layer;
    //
        {{for area_type in areas:}}//Loop for all the area types
    //     //areas has the form of {'area_type':[{'area':[id_area, [area_borders]}, areaType_color, areaType_description],}
    //         layerGroup = []
            {{for area in areas[area_type][0]:}}
    //                 area_layer = L.polygon({{=areas[area_type][0][area][1]}},
    //                         {color: '{{=areas[area_type][1]}}'}).on('mouseover', e => {
    //                        let selected_area = e.target;
    //                        axios.get('{{=URL('map', 'area_mouseover')}}',{
    //                         params: {
    //                             id: {{=areas[area_type][0][area][0]}},// Area_id
    //                         }})
    //                         .then(response => {
    //                             selected_area.bindPopup(`<b>Nombre</b>: ${response.data.area.name} ${response.data.area.sub_name ? ('('+response.data.area.sub_name+')') : ''}<br>
    //                                                        <b>Descripción</b>: ${response.data.area.description ? response.data.area.description : ''}<br>
    //                                                        <b>Tipo de área</b>: ${response.data.area_type_name }`);
    //                             selected_area.openPopup();
    //                         })
    //                         .catch(error => {
    //                             console.log(error)
    //                         })
    //                 })
    //
    //
    //                 area_layer.setStyle({pmIgnore: false});
    //                 layerGroup.push(area_layer);
            {{pass}}
    //         overlayMaps["{{=area_type}}"] = L.layerGroup(layerGroup);
        {{pass}}

    //     overlayMaps["Municipios"].addTo(map);
    //     overlayMaps["Cuencas"].addTo(map);
    //     overlayMaps["Provincias"].addTo(map);
    //     overlayMaps["Sector Hidrogeológico"].addTo(map);
    //     let control = L.control.layers(null, overlayMaps).addTo(map);


    //Event handler for creating a pluviometer
    map.on('pm:create', (e) => {
        map.pm.disableDraw(); //stop draw mode
        //Event listener trigered at the end of create area event
        $("#create_pluv_modal").modal({backdrop: "static"});// open modal
        let restorePosition = e.layer._latlngs;//original position when the area is created

        $('#create_pluv_modal #acceptButton').off().on('click', () => {
                let name = $('#create_pluv_modal #name').val().trim();
                let msnm = $('#create_pluv_modal #msnm').val().trim();
                // Validations
                if (name.length === 0) {
                    // if name input is empty
                    showMyNotification('error', "Existen errores en el formulario");
                    showErrorDiv($("#name-error-box"), "Este campo no puede estar vacío")
                }else if (isNaN(msnm)  || msnm.length === 0){
                    showMyNotification('error', "Existen errores en el formulario");
                    showErrorDiv($("#msnm-error-box"), "Este campo debe ser un número")
                }
                else {
                    $("#create_pluv_modal").modal('toggle');
                    let points = e.layer._latlng;
                    let station_name = $('#create_pluv_modal #station_name').val().trim();
                    let pluv_type_id = $("#create_pluv_modal #pluv_type_select option:selected").val()
                    console.log(points,station_name,name,msnm,pluv_type_id)
                    // request to save_area_api
                    axios.post('{{=URL('pluviometer', 'save_pluv_api')}}', {
                        name: name,
                        pluv_type_id: pluv_type_id,
                        station_name: station_name,
                        msnm: msnm,
                        points: points,
                    })
                    .then(response => {
                        showMyNotification('success', "El pluviómetro se ha creado correctamente");
                        e.layer['myDatabaseId'] = response.data.pluvId;
                        console.log("Todo bien")
                    })
                    .catch(error => showMyNotification('error', "Hubo errores en el servidor"));
                }

        })

        //Event handler for editing an area layer
        e.layer.on('pm:edit', function(layer_event){
            if (e.layer.myDatabaseId){
                // Edit the layer only when is saved in db
                let points = e.layer._latlngs;
                restorePosition = points; //saved in outer variable the new points of the area

                // request to edit_area API
                axios.post('{{=URL('map', 'edit_area_api')}}', {
                        area_id: e.layer.myDatabaseId,
                        points: points,
                    })
                    .then(response => {
                        console.log("Todo en talla");
                    })
                    .catch(error => alert(error));
            }else{
                //This fires when the area is not saved in db yet
                e.layer.setLatLngs(restorePosition); //Restore layer old position
                e.layer.pm.disable(); //I wrote this because the docs recommend it
                $('#no_edit_info_modal').modal(); //open no edit warning modal
            }
            })
              .on('pm:remove', function (layer_event) {//Event handler for removing an area layer
                  if (e.layer.myDatabaseId){
                    // Remove the layer only when is saved in db

                    // request to remove_area API
                    axios.post('{{=URL('map', 'remove_area_api')}}', {
                            area_id: e.layer.myDatabaseId,
                        })
                        .then(response => {
                            console.log("Todo en talla");
                        })
                        .catch(error => alert(error));
                  }else{
                    //This fires when the area is not saved in db yet
                    e.layer.addTo(map); //Adding layer to map again after incorrect elimination
                    e.layer.setLatLngs(restorePosition); //Restore layer old position
                    $('#no_edit_info_modal').modal(); //open no edit warning modal
            }
          })


        $('#create_pluv_modal #closeButton').off().on('click', () => {
                e.layer.remove()
                $("#create_pluv_modal").modal('toggle');
        })

        $('#create_pluv_modal .xButton').off().on('click', () => {
                e.layer.remove();
                $("#create_pluv_modal").modal('toggle');
        })


    });
    </script>
{{end page_js}}