{{extend 'plantilla.html'}}

       {{block head}}
        <title>Crear pluviómetro</title>
		<link rel="stylesheet" href="{{=URL('static', 'leaflet/leaflet.css')}}" />
		<link rel="stylesheet" href="{{=URL('static', 'leaflet_geoman/leaflet-geoman.css')}}" />

        <script type="text/javascript" src="{{=URL('static', 'leaflet/leaflet.js')}}"></script>
        <script type="text/javascript" src="{{=URL('static', 'leaflet_geoman/leaflet-geoman.min.js')}}"></script>
        <style>
            #map_id{
                height: 500px;
                z-index: 0;
            }
            #pluv_modal input{
                width: 100%;
            }
            .error-box{
                color: red;
                font-size: 14px;
                transition: opacity 2s;
                opacity: 0;
                height: 0;
                overflow: hidden;
            }
            .error-box.visible{
                transition: opacity 2s;
                 opacity: 1;
                height: auto;
            }
            select{
                padding-bottom: 10px;
                padding-top: 8px;
            }
            #pluv_modal label{
                font-size: 15px;
                font-family: sans-serif;
                font-weight: 500;
            }
            #myTab{
                margin: 0;
            }
            #pluv-select{
                padding: 0 0.7rem !important;
            }
            .no-link{
                color: black;
            }
        </style>
{{end head}}

{{block body_end}}
<div id="pluv_modal" class="modal fade" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-sm" id="content-pluv">
            {{=LOAD('pluviometer', 'pluv_form_map.load', ajax=True, target='content-pluv')}}
        </div>
</div>
{{end body_end}}

{{block page_js}}

    <script>

    let map = L.map('map_id').setView(
           [ 21.941415395551573,-78.66101966354675], 10);
    L.tileLayer('{{=URL('static','CubaOSM/{z}/{x}/{y}.png',url_encode=False)}}',{ maxZoom: 12 }).addTo(map);

    map.pm.setLang('es', null, 'en');//Setting to spanish language

    map.pm.addControls({
        position: 'topleft',
        drawCircle: false,
        drawPolygon: false,
        drawCircleMarker: false,
        drawPolyline: false,
        drawRectangle: false,
        cutPolygon: false,
        rotateMode: false,
        editMode: false,
    });

    let outerSavePluviometerPosition = null; // Global variable to save savePluviometerPosition function (wich is has to be declared inside the map event handler)

    //Event handler for creating a pluviometer
    map.on('pm:create', (e) => {
        //Event listener trigered at the end of create pluv event

        map.pm.disableDraw(); //stop draw mode

        $("#pluv_modal").modal({backdrop: "static"});// open modal
        let restorePosition = e.layer._latlng;//original position when the pluv is created

        $('#selectAcceptButton').off().on('click', () => {
                // Save pluviometer position of an already created pluviometer in database
                $("#pluv_modal").modal('toggle');
                let points = e.layer._latlng;

                let pluv_id = $("#pluv_modal #pluv-select option:selected").val()

                $(".loading-spinner").show(); // Show loading

                // request to save_pluv_position_api
                axios.post('{{=URL('pluviometer', 'save_pluv_position_api')}}', {
                    pluv_id: pluv_id,
                    points: points,
                })
                .then(response => {
                    e.layer['myDatabaseId'] = response.data.pluvId;
                    showMyNotification('success', "Operación realizada exitosamente");
                    $(".loading-spinner").hide(); // Hide loading
                })
                .catch(error => {
                    showMyNotification('error', "Hubo errores en el servidor");
                    $(".loading-spinner").hide(); // Hide loading
                });
        })

        //Event handler for editing a pluviometer marker
        e.layer.on('pm:edit', function(layer_event){

                let points = e.layer._latlng;
                restorePosition = points; //saved in outer variable the new points of the area

                $(".loading-spinner").show(); // Show loading

                // request to edit_pluv_api API
                axios.post('{{=URL('pluviometer', 'save_pluv_position_api')}}', {
                        pluv_id: e.layer.myDatabaseId,
                        points: points,
                    })
                    .then(response => {
                        showMyNotification('success', "Operación realizada exitosamente");
                        $(".loading-spinner").hide(); // Hide loading
                    })
                    .catch(error => {
                        showMyNotification('error', "Hubo errores en el servidor");
                        $(".loading-spinner").hide(); // Hide loading
                    });
            })
              .on('pm:remove', () => confirmationDelete("Operación realizada exitosamente",
                  function (isConfirm) {//Event handler for removing an area layer
                    if(isConfirm){

                      $(".loading-spinner").show(); // Show loading

                    // request to remove_area API
                    axios.post('{{=URL('pluviometer', 'remove_pluv_api')}}', {
                            pluv_id: e.layer.myDatabaseId,
                        })
                        .then(response => {
                            showMyNotification('success', "Operación realizada exitosamente");
                            $(".loading-spinner").hide(); // Hide loading
                        })
                        .catch(error => {
                            showMyNotification('error', "Hubo errores en el servidor");
                            $(".loading-spinner").hide(); // Hide loading
                        });
                    } else{
                        e.layer.addTo(map); //Adding layer to map again after incorrect elimination
                        e.layer.setLatLng(restorePosition); //Restore layer old position
                      }
          }))

        outerSavePluviometerPosition = function savePluviometerPosition(pluv_id){
                $("#pluv_modal").modal('toggle');
                let points = restorePosition;

                $(".loading-spinner").show(); // Show loading

                // request to save_pluv_position_api
                axios.post('{{=URL('pluviometer', 'save_pluv_position_api')}}', {
                    pluv_id: pluv_id,
                    points: points,
                })
                .then(response => {
                    e.layer['myDatabaseId'] = pluv_id;
                    showMyNotification('success', "Operación realizada exitosamente");
                    $(".loading-spinner").hide(); // Hide loading
                })
                .catch(error => {
                    showMyNotification('error', "Hubo errores en el servidor");
                    $(".loading-spinner").hide(); // Hide loading
                });
            }

        $('#pluv_modal .xButton').off().on('click', () => {
                e.layer.remove();
        })
    });



    </script>
{{end page_js}}