{{extend 'plantilla.html'}}

{{block head}}
    <style>
        .dropdown-item:focus, .dropdown-item:hover{
            background-color: #c5d6e6;
        }
    </style>
{{end}}
<h3 class="encabezado">Pluviómetros</h3>
<table id="example" class="display" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Estación</th>
                <th>Latitud</th>
                <th>Longitud</th>
                <th title="Metros sobre el nivel del mar">MSNM</th>
                <th>Opciones</th>
            </tr>
        </thead>
</table>
{{block body_end}}
    <div id="edit_pluv_modal" class="modal fade">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content" style="width: 400px">
                                <div class="modal-header">
                                    <h5 class="modal-title">Crear pluviómetro</h5>
                                    <button type="button" class="close xButton"><span>&times;</span></button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="name">Identificador:</label>
                                        <input type="text" class="form-control" id="name">
                                        <div class="error-box" id="name-error-box"></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="station_name">Nombre de la estación:</label>
                                        <input type="text" class="form-control" id="station_name">
                                    </div>
                                    <div class="form-group">
                                        <label for="msnm">Altura sobre el nivel del mar:</label>
                                        <input type="text" class="form-control" id="msnm">
                                        <div class="error-box" id="msnm-error-box"></div>
                                    </div>
                                     <label for="pluv_type_select">Tipo de pluviómetro:</label>
                                    <select class="form-control" id="pluv_type_select" style="padding-bottom: 10px;padding-top: 8px;">
                                        {{for pluv_type in pluv_types:}}
                                            <option value={{=pluv_type.id}}>{{=pluv_type.name}}</option>
                                        {{pass}}
                                    </select>
                                </div>
                                <div class="modal-footer">
                                    <button id="closeButton" type="button" class="btn btn-danger">Cerrar</button>
                                    <button id="acceptButton" type="button" class="btn btn-success">Aceptar</button>
                                </div>
                            </div>
                        </div>
</div>
{{end body_end}}

<script>
{{block datatable}}
    let currentRowId; // Global variable for the selected row id for edit options

    data_table.DataTable({
        //Adding server-side processing
        serverSide: true,
        processing: true,
        ajax: function ( data, callback, settings ) {
            // console.log(data)
            axios.get('{{=URL('pluviometer', 'pluvs')}}',{
                params: {
                    start: data.start,
                    limit: data.length,
                    search: data.search.value,
                    order_column: data.columns[data.order[0].column].data,
                    order_dir: data.order[0].dir
                }
            }).then(res=>{
                // console.log(res)
                callback({
                   recordsTotal: res.data.length,
                   recordsFiltered: res.data.length,
                   data: res.data.pluvs
                });
            })
            .catch(error => {
                alert(error)
            })
        },
        columns: [
            // { data: "id" },
            { data: "name", defaultContent: "-"},
            { data: "station_name", defaultContent: "-" },
            { data: "lat", defaultContent: "-"},
            { data: "lon", defaultContent: "-"},
            { data: "msnm", defaultContent: "-"},
            {
              data: null,
              // defaultContent: "<a href={{=URL('default','mapa')}} class='btn btn-primary'>Mapa</a>",
              "render": function ( data, type, row, meta ) {
                  // In edit anchor i used encodeURIComponent function because passing the object by it self did not work
                  const b = {name: row}
                  return `
                  <a title="Ubicación" style="padding: 9px 14px !important;" href={{=URL('map','ubicacion_pluv')}}/${row.id} class="botones-iconos btn btn-info btn-rounded btn-icon">
                    <i class="fa fa-map-marker"></i>
                  </a>
                  <a id="edit-${row.id}" title="Editar" onclick="editPluviometer('${encodeURIComponent(JSON.stringify(row))}')" style="color:white; background-color: #05e20c;" class="botones-iconos btn btn-info btn-rounded btn-icon">
                    <i class="fa fa-pencil"></i>
                  </a>
                  <a title="Eliminar" style="background-color: #f84a4a;" href="#" onclick="eliminar(${row.id})" class="botones-iconos btn btn-info btn-rounded btn-icon">
                    <i class="fa fa-trash"></i>
                  </a>
                  <div class="dropdown show" style="display: inline;">
                      <a title="Información" class="botones-iconos btn btn-info btn-rounded btn-icon dropdown-toggle" style="background-color: #0062cc;" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-info"></i>
                      </a>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="font-size: .5rem;">
                      <a href={{=URL('registers','registers_pluv')}}/${row.id} class='dropdown-item'>Registros</a>
                        <a href={{=URL('yearStatistics','yearStatistics')}}/${row.id} class='dropdown-item'>Estadísticas anuales</a>
                        <a class="dropdown-item" href={{=URL('precipitation_concentration_index','to_show_ci_for_selected_pluviometer')}}/${row.id}>Índice de concentracion</a>
                        <a class="dropdown-item" href={{=URL('precipitation_concentration_index','to_show_ci_for_selected_pluviometer_by_month')}}/${row.id}>Índice de concentracion por mes</a>
                      </div>
                    </div>
                  `;
                }
            }
        ],
    });

    function eliminar(id) {
        swal({
            title: "¿Está seguro de eliminar?",
            text: "El pluviómetro será eliminado completamente del sistema",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Eliminar",
            cancelButtonText: "Cancelar",
            closeOnConfirm: true,
            closeOnCancel: true
        },
            function (isConfirm) {
                if (isConfirm) {
                    let url = "{{=URL('pluviometer','remove_pluv')}}";
                    location.href = url + "/" + id;
                }
            });
    }

    //Events listeners to close modal
    $('#edit_pluv_modal #closeButton').off().on('click', () => {
                $("#edit_pluv_modal").modal('toggle');
        })

        $('#edit_pluv_modal .xButton').off().on('click', () => {
                $("#edit_pluv_modal").modal('toggle');
        })


        // Event listener on accept button modal
        $('#edit_pluv_modal #acceptButton').off().on('click', () => {
                let name = $('#edit_pluv_modal #name').val().trim();
                let msnm = $('#edit_pluv_modal #msnm').val().trim();

                // Validations
                if (name.length === 0) {
                    // if name input is empty
                    showMyNotification('error', "Existen errores en el formulario");
                    showErrorDiv($("#name-error-box"), "Este campo no puede estar vacío")
                }else if (isNaN(msnm)  || msnm.length === 0){
                    showMyNotification('error', "Existen errores en el formulario");
                    showErrorDiv($("#msnm-error-box"), "Este campo debe ser un número")
                }
                else {
                    $("#edit_pluv_modal").modal('toggle');
                    let station_name = $('#edit_pluv_modal #station_name').val().trim();
                    let pluv_type_id = $("#edit_pluv_modal #pluv_type_select option:selected").val()

                    // request to save_pluv_api
                    axios.post('{{=URL('pluviometer', 'edit_pluv_api')}}', {
                        pluv_id: currentRowId,
                        name: name,
                        pluv_type_id: pluv_type_id,
                        station_name: station_name,
                        msnm: msnm,
                        edit_type: "information",
                    })
                    .then(response => {
                        showMyNotification('success', "El pluviómetro se ha editado correctamente");
                    })
                    .catch(error => showMyNotification('error', "Hubo errores en el servidor"));
                }

        })

    function editPluviometer(encodedRow){
        //Function to open edit pluviometer modal and prefill the form
        const row = JSON.parse(decodeURIComponent(encodedRow)); // Decoding the row information passed by parameters
        $("#edit_pluv_modal").modal({backdrop: "static"});// open modal
        currentRowId = row.id; // Setting the global variable with the current row id (this is done for not put the event handler inside this function)
        //Prepopulate form with pluv information
        $('#edit_pluv_modal #name').val(row.name);
        $('#edit_pluv_modal #station_name').val(row.station_name);
        $('#edit_pluv_modal #msnm').val(row.msnm);
        $('#edit_pluv_modal #id_pluviometer_type').val(row.id_pluviometer_type);
    }
{{end datatable}}
</script>



