{{extend 'plantilla.html'}}

{{block head}}
    <style>
        .dropdown-item:focus, .dropdown-item:hover{
            background-color: #c5d6e6;
        }
        .create-button-box{
            width: 100%;
            display: flex;
            flex-direction: row-reverse;
        }
        .create-button{
            font-family: sans-serif;
            font-size: 16px;
        }
    </style>
{{end}}
        <h3 class="encabezado">Pluviómetros</h3>
        <div class="create-button-box">
            {{=A(I(_class='fa fa-plus'), ' Nuevo pluviómetro',
            _class='btn btn-success text-white mb-2 create-button',
            _target='_blank',
            _href=URL("pluviometer", "pluv_form"),
            cid="content-pluv",
            data={'toggle':'modal', 'target':'#pluv_modal'})}}
        </div>


<table id="example" class="display">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Estación</th>
                <th>Latitud</th>
                <th>Longitud</th>
                <th title="Metros sobre el nivel del mar">MSNM</th>
                <th>Opciones</th>
            </tr>
        </thead>
</table>
{{block body_end}}
    <div id="pluv_modal" class="modal fade" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-sm" id="content-pluv">
        </div>
    </div>
{{end body_end}}

<script>
{{block datatable}}

    const datatableOptions = {
        //Adding server-side processing
        serverSide: true,
        processing: true,
        ajax: function ( data, callback, settings ) {
            axios.get('{{=URL('pluviometer', 'pluvs')}}',{
                params: {
                    start: data.start,
                    limit: data.length,
                    search: data.search.value,
                    order_column: data.columns[data.order[0].column].data,
                    order_dir: data.order[0].dir
                }
            }).then(res=>{
                callback({
                   recordsTotal: res.data.length,
                   recordsFiltered: res.data.length,
                   data: res.data.pluvs
                });
            })
            .catch(error => {
                showMyNotification('error', "Hubo errores en el servidor");
            })
        },
        columns: [
            // { data: "id" },
            { data: "name", defaultContent: "-"},
            { data: "station_name", defaultContent: "-" },
            { data: "lat", defaultContent: "-"},
            { data: "lon", defaultContent: "-"},
            { data: "msnm", defaultContent: "-"},
            {
              data: null,
              "class" : "options",
              "render": function ( data, type, row, meta ) {
                  let stringAnchorTag = '{{=A(I(_class='fa fa-pencil'), _title="Editar", _class='botones-iconos btn btn-info btn-rounded btn-icon',_target='_blank',
                        _style="color:white; background-color: #05e20c;", _href=URL("pluviometer", "pluv_form"), cid="content-pluv", data={'toggle':'modal', 'target':'#pluv_modal'})}}'; //Getting the string representation of the edit button

                  let editButton = appendDataToAnchorTag(stringAnchorTag, '{{=URL("pluviometer", "pluv_form")}}', row.id);

                  return `
                  <a title="Ubicación" style="padding: 9px 14px !important;" href={{=URL('map','ubicacion_pluv')}}/${row.id} class="botones-iconos btn btn-info btn-rounded btn-icon">
                    <i class="fa fa-map-marker"></i>
                  </a>
                  ${editButton}
                  <a title="Eliminar" style="background-color: #f84a4a;" href="#" onclick="eliminar(${row.id})" class="botones-iconos btn btn-info btn-rounded btn-icon">
                    <i class="fa fa-trash"></i>
                  </a>
                  <div class="dropdown show" style="display: inline;">
                      <a title="Información" class="botones-iconos btn btn-info btn-rounded btn-icon dropdown-toggle" style="background-color: #0062cc;" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-info"></i>
                      </a>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="font-size: .5rem;">
                      <a href={{=URL('registers','registers_pluv')}}/${row.id} class='dropdown-item'>Registros</a>
                        <a href={{=URL('yearStatistics','yearStatistics')}}/${row.id} class='dropdown-item'>Estadísticas anuales</a>
                        <a class="dropdown-item" href={{=URL('precipitation_concentration_index','to_show_ci_for_selected_pluviometer')}}/${row.id}>Índice de concentracion</a>
                        <a class="dropdown-item" href={{=URL('precipitation_concentration_index','to_show_ci_for_selected_pluviometer_by_month')}}/${row.id}>Índice de concentracion por mes</a>
                      </div>
                    </div>
                  `;
                }
            }
        ],
    };

   let my_table = data_table.DataTable(datatableOptions);

   function updateTable(){
        my_table.destroy(); //Destroiyng datatable for refetch
         my_table = data_table.DataTable(datatableOptions); //Building datatable again with updated data
    }

    function eliminar(id) {
        swal({
            title: "¿Está seguro de eliminar?",
            text: "El pluviómetro será eliminado completamente del sistema",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Eliminar",
            cancelButtonText: "Cancelar",
            closeOnConfirm: true,
            closeOnCancel: true
        },
            function (isConfirm) {
                if (isConfirm) {
                    let url = "{{=URL('pluviometer','remove_pluv')}}";
                    location.href = url + "/" + id;
                }
            });
    }
{{end datatable}}
</script>



