{{extend 'plantilla.html'}}
{{block head}}
        <style>
            .graphic-img{
                margin-top: 4rem;
                width: 25rem;
            }
            .graphics-box{
                display: flex;
                justify-content: space-around;
            }
            #img_1{
                height: 300px;
                border-radius: 40px;
                transition: 0.5s;
            }
            h3{
                text-align: center;
                color: #5a135a;
            }
            #img_2{
                height: 300px;
                border-radius: 40px;
                transition: 0.5s;
            }

            #img_1:hover{
                height: 350px;
                width: 30rem;
            }
            #img_2:hover{
                height: 350px;
                width: 30rem;
            }
        </style>
{{end head}}

        <h3>Seleccione el tipo de gráfico:</h3>
        <div class="graphics-box">
            <a title="Gráfico de barras" href="{{=page_type[page if page else 'pluv']}}/column"><img class="graphic-img" id="img_1" src="{{=URL('static/images', 'bar_chart.png')}}" class="rounded float-left" alt="Gráfico de barras"></a>
            <a title="Gráfico de lineas" href="{{=page_type[page if page else 'pluv']}}/line"><img class="graphic-img" id="img_2" src="{{=URL('static/images', 'line_chart.png')}}" class="rounded float-right" alt="Gráfico de lineas"></a>
        </div>

