<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>No autorizado</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link href="{{=URL('static','images/favicon.png')}}" rel="icon" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}">

    <link href="{{=URL('static/plantilla','assets/css/bootstrap.min.css')}}" rel="stylesheet"/>
    <link href="{{=URL('static/plantilla','assets/css/font-awesome.min.css')}}" rel="stylesheet"/>
    <link href="{{=URL('static/plantilla','assets/css/themify-icons.css')}}" rel="stylesheet"/>
    <link href="{{=URL('static/plantilla','assets/css/metisMenu.css')}}" rel="stylesheet"/>
    <link href="{{=URL('static/plantilla','assets/css/owl.carousel.min.css')}}" rel="stylesheet"/>
    <link href="{{=URL('static/plantilla','assets/css/owl.carousel.min.css')}}" rel="stylesheet"/>
    <link href="{{=URL('static/plantilla','assets/css/typography.css')}}" rel="stylesheet"/>
    <link href="{{=URL('static/plantilla','assets/css/default-css.css')}}" rel="stylesheet"/>
    <link href="{{=URL('static/plantilla','assets/css/styles.css')}}" rel="stylesheet"/>
    <link href="{{=URL('static/plantilla','assets/css/responsive.css')}}" rel="stylesheet"/>
    <!-- modernizr css -->
    <script src="{{=URL('static/plantilla','assets/js/vendor/modernizr-2.8.3.min.js')}}"></script>
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- preloader area start -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- error area start -->
    <div class="error-area ptb--100 text-center">
        <div class="container">
            <div class="error-content">
                <h2>403</h2>
                <p>Usted no tiene permisos para acceder a este recurso</p>
                <a href="{{=URL('default', 'index')}}">Ir a la página principal</a>
            </div>
        </div>
    </div>
    <!-- error area end -->

    <!-- jquery -->
    <script src="{{=URL('static/plantilla','assets/js/vendor/jquery-2.2.4.min.js')}}"></script>

   <!-- bootstrap 4 js -->
    <script src="{{=URL('static/plantilla','assets/js/popper.min.js')}}"></script>
    <script src="{{=URL('static/plantilla','assets/js/bootstrap.min.js')}}"></script>
    <script src="{{=URL('static/plantilla','assets/js/owl.carousel.min.js')}}"></script>
    <script src="{{=URL('static/plantilla','assets/js/metisMenu.min.js')}}"></script>
    <script src="{{=URL('static/plantilla','assets/js/jquery.slimscroll.min.js')}}"></script>
    <script src="{{=URL('static/plantilla','assets/js/jquery.slicknav.min.js')}}"></script>

    <!-- others plugins -->
    <script src="{{=URL('static/plantilla','assets/js/plugins.js')}}"></script>
    <script src="{{=URL('static/plantilla','assets/js/scripts.js')}}"></script>
</body>

</html>