{{extend 'plantilla.html'}}
{{block head}}
    <style>
        .create-button-box{
            width: 100%;
            display: flex;
            flex-direction: row-reverse;
        }
        .create-button{
            font-family: sans-serif;
            font-size: 16px;
        }
    </style>
{{end}}

        <h3 class="encabezado">Usuarios</h3>
        <div class="create-button-box">
            {{=A(I(_class='fa fa-plus'), ' Nuevo usuario',
            _class='btn btn-success text-white mb-2 create-button',
            _target='_blank',
            _href=URL("user", "user_form"),
            cid="content-user",
            data={'toggle':'modal', 'target':'#user_modal'})}}
        </div>


<table id="user_table" class="display">
        <thead>
            <tr>
                <!--<th>Id</th>-->
                <th>Usuario</th>
                <th>Correo</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Rol</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            {{for user in users:}}
                <tr>
                    <td>{{=user.auth_user.username if user.auth_user.username else '-'}}</td>
                    <td>{{=user.auth_user.email if user.auth_user.email else '-'}}</td>
                    <td>{{=user.auth_user.first_name if user.auth_user.first_name else '-'}}</td>
                    <td>{{=user.auth_user.last_name if user.auth_user.last_name else '-'}}</td>
                    <td>{{=user.auth_membership.group_id.role if user.auth_membership.group_id.role else '-'}}</td>
                    <td class="options">
                        {{=A(I(_class='fa fa-pencil'), _title="Editar", _class='botones-iconos btn btn-info btn-rounded btn-icon',_target='_blank',
                        _style="color:white; background-color: #05e20c;", _href=URL("user", "user_form", args=user.auth_user.id),
                        cid="content-user", data={'toggle':'modal', 'target':'#user_modal'})}}
                        <a title="Eliminar" class="botones-iconos btn btn-info btn-rounded btn-icon" style="background-color: #f84a4a;" href="#" onclick="eliminar('{{=user.auth_user.id}}')">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
            {{pass}}
        </tbody>
</table>

{{block body_end}}
    <div id="user_modal" class="modal fade" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-sm" id="content-user">
        </div>
    </div>
{{end body_end}}

<script>
{{block datatable}}

    data_table.DataTable();

    function eliminar(id) {
        swal({
            title: "¿Está seguro de eliminar?",
            text: "El tipo de pluviómetro será eliminado completamente del sistema.",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Eliminar",
            cancelButtonText: "Cancelar",
            closeOnConfirm: true,
            closeOnCancel: true
        },
            function (isConfirm) {
                if (isConfirm) {
                    let url = "{{=URL('user','remove_user')}}";
                    location.href = url + "/" + id;
                }
            });
    }
{{end datatable}}

</script>