{{extend 'plantilla.html'}}

       {{block head}}
		<link rel="stylesheet" href="{{=URL('static', 'leaflet/leaflet.css')}}" />
        <style>
            #map_id{
                height: 500px;
                z-index: 0;
            }
            .option-modal-btn{
                color: white !important;
                border-radius: 7px;
                font-size: 15px;
                background-color: #4944bd;
                padding: 13px 18px;
            }
            .modal-backdrop {
                z-index: -1;
            }
        </style>
{{end head}}

<div id="map_options_modal" class="modal fade">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Opciones de pluviómetro</h5>
                                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                                </div>
                                <div class="modal-body">
                                    <!--Contenido dinámico aquí-->
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>

        {{block page_js}}
        <script type="text/javascript" src="{{=URL('static', 'leaflet/leaflet.js')}}"></script>
    <script>

    let mymap = L.map('map_id').setView(
        //If not 'lat' or 'lon' is passed it paints a default value
           [{{=pluv.lat if pluv.lat else 21.941415395551573}},{{=pluv.lon if pluv.lon else -78.66101966354675}}], 10);
    L.tileLayer('{{=URL('static','CubaOSM/{z}/{x}/{y}.png',url_encode=False)}}',{ maxZoom: 12 }).addTo(mymap);

    {{if pluv.lat and pluv.lon:}}
        let marker = L.marker([{{=pluv.lat}}, {{=pluv.lon}}]).addTo(mymap);
        marker.on('mouseover', (e)=>{
             axios.get('{{=URL('map', 'marker_mouseover')}}',{
                params: {
                    id: {{=pluv.id}},
                }
            }).then(response => {
                 marker.bindPopup(`<b>Nombre</b>:{{=pluv.station_name}} ({{=pluv.name}})<br>
                                    <b>Año de inicio</b>:${response.data.min}<br>
                                    <b>Año de fin</b>:${response.data.max}<br>
                                    <b>Años activo</b>:${response.data.total_years}<br>
                                    <b>MSNM</b>:{{=pluv.msnm}}<br>
                                    `);
                 marker.openPopup();
             })
            .catch(error => {
                showMyNotification('error', "Hubo errores en el servidor");
            })
        }).on('mouseout', e =>{e.target.closePopup();})
        .on('click', e => {
              let pluv_options = `
                <a class="option-modal-btn btn btn-flat btn-primary btn-lg mb-3";" href={{=URL('registers','registers_pluv',args=pluv.id)}}>Registros</a><br>
              `
              $(".modal-body").append(pluv_options);
              $("#map_options_modal").modal();
          })


    {{pass}}
        $(document).on('hide.bs.modal','#map_options_modal',() => {
            $(".modal-body").empty();
        });

		</script>
{{end page_js}}