{{extend 'plantilla.html'}}
{{block head}}
    <style>
        .create-button-box{
            width: 100%;
            display: flex;
            flex-direction: row-reverse;
        }
        .create-button{
            font-family: sans-serif;
            font-size: 16px;
        }
    </style>
{{end}}

        <h3 class="encabezado">Tipos de pluviómetro</h3>
        <div class="create-button-box">
            {{=A(I(_class='fa fa-plus'), ' Nuevo tipo de pluviómetro',
            _class='btn btn-success text-white mb-2 create-button',
            _target='_blank',
            _href=URL("pluv_type", "pluvtype_form"),
            cid="content-pluvtype",
            data={'toggle':'modal', 'target':'#pluvtype_modal'})}}
        </div>


<table id="pluvtype_table" class="display">
        <thead>
            <tr>
                <!--<th>Id</th>-->
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            {{for pluv_type in pluv_types:}}
                <tr>
                    <td>{{=pluv_type.name if pluv_type.name else '-'}}</td>
                    <td>{{=pluv_type.description if pluv_type.description else '-'}}</td>
                    <td>
                        {{=A(I(_class='fa fa-pencil'), _title="Editar", _class='botones-iconos btn btn-info btn-rounded btn-icon',_target='_blank',
                        _style="color:white; background-color: #05e20c;", _href=URL("pluv_type", "pluvtype_form", args=pluv_type.id),
                        cid="content-pluvtype", data={'toggle':'modal', 'target':'#pluvtype_modal'})}}
                        <a title="Eliminar" class="botones-iconos btn btn-info btn-rounded btn-icon" style="background-color: #f84a4a;" href="#" onclick="eliminar('{{=pluv_type.id}}')">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
            {{pass}}
        </tbody>
</table>

{{block body_end}}
    <div id="pluvtype_modal" class="modal fade" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-sm" id="content-pluvtype">
        </div>
    </div>
{{end body_end}}

<script>
{{block datatable}}

    data_table.DataTable();

    function eliminar(id) {
        swal({
            title: "¿Está seguro de eliminar?",
            text: "El tipo de pluviómetro será eliminado completamente del sistema.",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Eliminar",
            cancelButtonText: "Cancelar",
            closeOnConfirm: true,
            closeOnCancel: true
        },
            function (isConfirm) {
                if (isConfirm) {
                    let url = "{{=URL('pluv_type','remove_pluvtype')}}";
                    location.href = url + "/" + id;
                }
            });
    }
{{end datatable}}

</script>