{{extend 'plantilla.html'}}
<h3 class="encabezado">Estadísticas mensuales del año: {{=year.year_number}}</h3>
<table id="example" class="display" width="100%" cellspacing="0">
        <thead>
            <tr>
                <!--<th>Año</th>-->
                <th>Mes</th>
                <th>Precipitación total</th>
                <th>Máximo valor</th>
                <th>Media diaria</th>
                <th>Cantidad de días lluviosos</th>
                <th>Desviación estándar</th>
                <th>Varianza</th>
                <th>Cantidad de rachas lluviosas</th>
                <th>Longitud media de las rachas lluviosas</th>
            </tr>
        </thead>
</table>
<script>
{{block datatable}}
    data_table.DataTable({
        //Adding server-side processing
        serverSide: true,
        processing: true,
        ajax: function ( data, callback, settings ) {
            console.log(data);
            axios.get('{{=URL('monthStatistics', 'month_statistics_api')}}',{
                params: {
                    start: data.start,
                    limit: data.length,
                    search: data.search.value,
                    order_column: data.columns[data.order[0].column].data,
                    order_dir: data.order[0].dir,
                    year_id: {{=year_id}}
                }
            }).then(res=>{
                callback({
                   recordsTotal: res.data.length,
                   recordsFiltered: res.data.length,
                   data: res.data.stats
                });
            })
            .catch(error => {
                showMyNotification('error', "Hubo errores en el servidor");
            })
        },
        columns: [
            // { data: "id_year" },
            { data: "month_number"},
            { data: "total_precipit"},
            { data: "max_registered_value"},
            { data: "daily_mean"},
            { data: "rainy_days_count"},
            { data: "standard_deviation"},
            { data: "variance"},
            { data: "rainy_streak_count"},
            { data: "rainy_streak_med_long"},
        ],
    });
{{end datatable}}

</script>



